^FX 2in x 1.25in label

^XA
^CI28

^FX Barcode
^BY6,2,200
^FO10,15^BO^FD{{ barcode }}^FS

^FX Info
^CFQ,10
^FO135,18^FD{{ name }}^FS

^FX Manufacturer
^CFQ,10
^FO135,45^FD{{ manufacturer }}^FS

^FX Main Description + Category
^CF0,17
^FO135,82^FB250,2,0,,^FD{{ description[0:30] }}^FS
^FO135,102^FB250,2,0,,^FD{{ description[30:60] }}^FS
^CF0,25
^FO135,125^FD{{ category }}^FS


^FX Info Box - Package Type
^CFA,20
^FO20,150^GB{{ params.Package|length * 14 }},26,1,B,0^FS
^FO25,155^FD{{ params.Package }}^FS


^FX Price
^CFA,20
^FO15,205^FD{{ price }}^FS

^FX Part ID/Primary key
^CF0,18
^FO325,205^FD#{{ spk }}^FS

^XZ
